@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Advent Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111827; /* Garante o fundo escuro */
}

/* Adiciona barras de rolagem personalizadas se desejar, baseado no estilo */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #D0C81C; /* verde-neon */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1A3627; /* verde-rua */
}